@import 'base';
@import 'variables';

#app {
    min-height: 100vh;
    font-family: $font-family;
    text-align: center;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app__wrapper {
    display: flex;
    flex-wrap: wrap;

    .navigation {
        .hamburger-icon {
            float: left;
        }
    }
}
